
h1{
  color:darkblue;
}
}
ul{
  font-family:sans-serif;
}
body{
  background-image: url('images/kevin3.jpg');
background-size: cover;
position: relative;
    background-repeat:no-repeat;
    background-size:100% 120vh;
    border-image-width: auto;
}
.container,
ul
{
  background-color: powderblue;
  background-size: contain;
  opacity:0.5;
  display: block;
  font-weight:bolder;
}

.container{
  height: 90px;
}

h1{
  text-align: center;
  padding: 20px;
}
